/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

$font: 'Karla', sans-serif;


/* Colors */
$black:hsl(60, 14%, 10%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 93%);
$d-grey: hsl(0, 0%, 35%);
$blue: hsl(198, 58%, 55%);
$green: hsl(145, 41%, 54%);
$lime: hsl(85, 49%, 60%);


/* Screens */
$screen__s: 640px;
$screen__m: 768px;
$screen__l : 960px;