// Imports
@import 'normalize';
@import 'owl';
@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'variables';

*{
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: $font;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $black;
    background: $white;
}

img{
    max-width: 100%;
}

p{
    font-size: 1.6rem;
    margin: .8rem 0;
    color: $d-grey;
}

h1{
    font-size: 3.2rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.6rem;
}

h1,h2,h3{
    letter-spacing: -.4px;
    font-weight: bold;
    margin: 1rem 0;
}

a, a:link, a:active, a:visited{
    display: inline-block;
    color: $blue;
    text-decoration: none;
    background-image: linear-gradient(transparent calc(100% - 3px), $lime 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .7s
}
a:hover, a:focus{
    background-size: 100% 100%;
    transition:  background-size .7s
}

.container{
    max-width: 88rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.hero{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--content{
        z-index: 1;
    }

    &.black{
        background-color: $black;
        color: $white;
    }
    &.blue{
        background-color: $blue;
        color: $white;
    }
    &.lime{
        background-color: $lime;
        color: $white;
    }
    &.has-background{
        color: $white;
        position: relative;
        &:after{
            position: absolute;
            display: block;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(transparent 33%, black)
        }
    }
}

footer{
    text-align: center;
    background-color: $grey;
    color: $black;
    padding: 2rem 0;
    margin-top: 2rem;
}

/* Navigation */

header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        .hamburger{
            display: none;
        }
        a.logo{
            display: inline-block;
            font-size: 0;
        }
        ul{
            padding: 0;
            margin: 0;
            display: inline-block;
            li{
                list-style: none;
                display: inline-block;
                margin-left: 1.2rem;
                &:last-of-type{
                    margin-right: 1.2rem;
                }
            }
        }
    }
}

/* Blog styling */
.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    &--item{
        padding: 2rem;
        border: 1px solid $grey;
        box-shadow: 0 5px 10px -5px $blue;
        transition: .2s ease-in-out box-shadow;
        &:nth-of-type(even){
            box-shadow: 0 5px 10px -5px $lime;
            &:hover{
                box-shadow: 0 1px 10px -5px $lime;
                transition: .2s ease-in-out box-shadow;
            }
        }
        &:hover{
            cursor: pointer;
            box-shadow: 0 1px 10px -5px $blue;
            transition: .2s ease-in-out box-shadow;
        }
    }

    &--title{
        font-weight: bold;
    }

    &--img{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    &--img-wrap{
        position: relative;
        background-color: $lime;
        margin-bottom: 1.5rem;
        &:after{
            content: '';
            display: block;
            padding-top: 56.25%;
        }
    }
}


/* Tablet Styling */
@media (max-width: $screen__m){
    p{
        font-size: 1.8rem;
    }
    header{
        nav{
            flex-wrap:wrap;
            .hamburger{
                display: inline-block;
            }
            ul{
                display: none;
                width: 100%;
                li{
                    display: block;
                    margin-left: 0;
                    margin-bottom: 1rem;
                    text-align: center;
                    font-size: 2rem;
                    &:last-of-type{
                        margin-right:0;
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}

/* Mobile Styling */
@media (max-width: $screen__s){
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }
}